.contato-container {

    margin-top: 60px;
}

.contato img {
    height: 300px !important;
}

.coluna-1 {
    width: 50%;
}

.coluna-2 {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos Nome e E-mail */
}

input, textarea {
    height: 60px;
    padding: 10px;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    width: 100%; /* Garantir que os inputs fiquem com largura adequada */
}

.input-group input {
    width: calc(60% - 10px); /* Dividir igualmente os campos Nome e E-mail */
}

input:focus, textarea:focus {
    background-color: #B4B4B4;
    outline: none;
}

.enviar-contato {
    background-color: #FF8548;
    color: white;
    border: none;
    width: 300px;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: left; /* Centraliza o botão */
}

button:hover {
    background-color: #d86d37;
}

textarea {
    height: 150px;
    resize: vertical;
}
