/* ------------------------------- HEADER ------------------------------- */
header {
    width: 100%;
    display: inline-flex;
    justify-content: space-around !important;
    align-items: center;
    padding: 20px 50px;
    background-color: #f8f8f8;
}

.logo{
    width: 50px;
}

.menu-container {

    display: flex;
    text-align: right;
    justify-content: right;

}

/* Estilo para o botão do menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 5px 20px;
}

header nav a:hover {
    border-radius: 10px;
    background-color: #FF8548;
    color: #fff;
}

/* Botão de Contato */
.botao-contato {
    background-color: #FF8548;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-contato:hover {
    background-color: #ff503e;
}

/* Media query para telas menores */
@media (max-width: 768px) {
   
}
