

/* ------------------------------- SEÇÃO 3 (Imagem + Texto + Benefícios) ------------------------------- */



.texto-sessao3 p {
    flex: 2;
    margin-top: 10px;
    max-width: 600px;
    margin-right: 40px;
}

.imagem-vantagens img{
    width: 90% !important;
}


/* ------------------------------- BENEFÍCIOS ------------------------------- */
.beneficios {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.beneficios-texto {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: linear-gradient(90deg, #FF8548, #FF4F7C);
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.icon {
    color: white;
  font-size: 30px; 
 
  }
  

.beneficios-texto h2 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
  
}

.beneficios-texto p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #ffffff;
}

