


//Colors
$white: #fff;
$gray: #c9c9c9;
$text: #313131;
$black: #000;
$box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

//master colors 
$color-primary: #FF8548;
$hover-primary: #FF4F7C;
$color-secondary: #114A49;
$hover-secondary: #0e3f3e;

// Light Mode Colors
$background: #F5F5F5;
$background-hover: #dfdfdf;

//Fonte
$text-button:16px;

//Bordas
$radius-card: 10px;
$radius-section: 20px;
$radius-button: 7px;