* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    padding: 20px;
}

.editadm-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
    min-width: 300px;
    /* garante que não fique pequeno demais */
}

.editadm-container img.logo {
    width: 60px;
    margin-bottom: 12px;
}

.editadm-container h2 {
    margin-bottom: 30px;

    color: #222;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    height: 50px;
    width: 100%;
    padding: 12px 45px 12px 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EAEAEA;
    font-size: 16px;
}



button[type="submit"] {
    width: 100%;
    background-color: #FF8548;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff503e;
}


/* Responsividade */
@media (max-width: 1024px) {
    .editadm-container {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .editadm-container {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .editadm-container {
        width: 90%;
    }
}